<!--
<div class="menu-left">
  <div class="language-switcher">
    <select (change)="changeLanguage($event)">
      <option *ngFor="let language of languages" [value]="language.value" [selected]="language.value === selectedLanguage">
        {{ language.label }}
      </option>
    </select>
  </div>
</div>
-->
<div class="main-container">
  <div class="description">
    <h1>{{ 'LOGIN.WELCOME_MESSAGE' | translate }}</h1>
    <p>{{ 'LOGIN.DESCRIPTION1' | translate }}</p>
    <p>{{ 'LOGIN.DESCRIPTION2' | translate }}</p>
    <p><strong>{{ 'LOGIN.LEMMA' | translate }}</strong>{{ 'LOGIN.DESCRIPTION3' | translate }}</p>
  </div>

  <div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>{{ 'LOGIN.LOGIN_TITLE' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'LOGIN.USERNAME' | translate }}</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="loginForm.get('email')?.invalid">
              {{ 'LOGIN.EMAIL_ERROR' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.get('password')?.invalid">
              {{ 'LOGIN.PASSWORD_ERROR' | translate }}
            </mat-error>
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            type="submit"
            class="login-button"
            [disabled]="isLoading">

            <span *ngIf="!isLoading">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</span>
            <span *ngIf="isLoading">{{ 'LOGIN.LOADING' | translate }}</span>
          </button>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <span class="ForgotPassword"><a href="">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a></span>
          <p>{{ 'LOGIN.OR_CONTINUE_WITH' | translate }}</p>

          <button
            mat-stroked-button
            class="google-button"
            (click)="loginWithGoogle()"
            [disabled]="isLoading">

            <img src="google.png" alt="Google Logo" class="google-logo">
            {{ 'LOGIN.GOOGLE_LOGIN' | translate }}
          </button>

          <div class="SignUp">
            {{ 'LOGIN.NO_ACCOUNT' | translate }}
            <a routerLink="/registro">{{ 'LOGIN.SIGN_UP' | translate }}</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
