<app-theme-toggle></app-theme-toggle>
<div style="position: fixed; top: 10px; right: 10px; z-index: 1000;">
    <button mat-button class="language-button" [matMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
        {{ selectedLanguageLabel }}
    </button>
</div>


<mat-menu #menu="matMenu" class="scrollable-language-menu">
    <button mat-menu-item (click)="changeLanguage('es')">Español</button>
    <button mat-menu-item (click)="changeLanguage('pt')">Portugués</button>
    <button mat-menu-item (click)="changeLanguage('it')">Italiano</button>
    <button mat-menu-item (click)="changeLanguage('en')">Inglés</button>
    <button mat-menu-item (click)="changeLanguage('fr')">Francés</button>
    <button mat-menu-item (click)="changeLanguage('de')">Alemán</button>
    <button mat-menu-item (click)="changeLanguage('ja')">Japonés</button>
    <button mat-menu-item (click)="changeLanguage('ru')">Ruso</button>
    <button mat-menu-item (click)="changeLanguage('zh')">Chino</button>
</mat-menu>

<router-outlet />
